@charset "utf-8";
/* CSS Document */

/* Layout */ 

body {
	margin:0;
	padding:0;
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-size:14px;
}
a {
	color:#ffc002;
	text-decoration:none;
	cursor:pointer;
}
/* HEADER 
*********/

/* crazy header background */
#header {
	background: rgb(204,204,204); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(204,204,204,1) 0%, rgba(244,244,244,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(100%,rgba(244,244,244,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(244,244,244,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(244,244,244,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(244,244,244,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(244,244,244,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}	
#header {
	height:115px;
	position:fixed;
	width:100%;
	z-index:9000;
}

#logo {
	float:left;
	margin-left: 20px;
	margin-top:20px;
}

#logo a {
	font-family: Anton, sans-serif;
	font-size: 48px;
	color: #000000;
}

#footer {
	background: rgb(204,204,204); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(204,204,204,1) 0%, rgba(244,244,244,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(100%,rgba(244,244,244,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(244,244,244,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(244,244,244,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(244,244,244,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(244,244,244,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
	position: absolute;
	bottom: 0px;
	height:50px;
	position:fixed;
	width:100%;
	z-index:9000;
}

#footer-text {
	float:left;
	margin-left: 20px;
	margin-top: 15px;
}

#main {
	position: relative;
	top: 115px;
	min-height: 300px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

#intro {
    float: left;
    position: relative;
    width: 45%;
	margin-top: 10px;
}

#start {
    float: right;
    margin-top: 10%;
	padding-left: 20px;
    position: relative;
    width: 50%;
}

#go {
	cursor: pointer;
	font-family: Anton, sans-serif;
    color: white;
    font-size: 30pt;
    height: 75px;
    width: 80%;
	background: #b4e391; /* Old browsers */
	background: -moz-linear-gradient(top,  #b4e391 0%, #61c419 75%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(75%,#61c419)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b4e391 0%,#61c419 75%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b4e391 0%,#61c419 75%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b4e391 0%,#61c419 75%); /* IE10+ */
	background: linear-gradient(top,  #b4e391 0%,#61c419 75%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#61c419',GradientType=0 ); /* IE6-9 */
}
